In [1]:
import pandas as pd

labels = pd.read_csv("../labels.csv", sep=";")

In [2]:
test = pd.DataFrame(labels[[all([int(rule) == 0 for rule in label[1:]]) for label in labels.values]])
test.describe()

        Rule1   Rule2   Rule3   Rule4   Rule5   Rule6   Rule7   Rule8
count  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0
mean      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [3]:
label_1 = pd.DataFrame(labels[labels["Rule1"] == 1])
label_2 = pd.DataFrame(labels[labels["Rule2"] == 1])
label_3 = pd.DataFrame(labels[labels["Rule3"] == 1])
label_4 = pd.DataFrame(labels[labels["Rule4"] == 1])
label_5 = pd.DataFrame(labels[labels["Rule5"] == 1]) 
label_6 = pd.DataFrame(labels[labels["Rule6"] == 1])
label_7 = pd.DataFrame(labels[labels["Rule7"] == 1])
label_8 = pd.DataFrame(labels[labels["Rule8"] == 1])

all_lab = pd.concat([label_1, label_3, label_4, label_5, label_6, label_7, label_8])
all_lab.drop_duplicates()

print(all_lab.sum(numeric_only=True))
print(all_lab.describe())
print(all_lab.info())
print(all_lab.head())

Rule1    288
Rule2    362
Rule3    304
Rule4    185
Rule5    313
Rule6    500
Rule7    198
Rule8    243
dtype: int64
            Rule1       Rule2       Rule3       Rule4       Rule5       Rule6  \
count  945.000000  945.000000  945.000000  945.000000  945.000000  945.000000
mean     0.304762    0.383069    0.321693    0.195767    0.331217    0.529101
std      0.460550    0.486392    0.467373    0.397000    0.470900    0.499417
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
75%      1.000000    1.000000    1.000000    0.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

            Rule7       Rule8
count  945.000000  945.000000
mean     0.209524    0.257143
std      0.407184    0.437290
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Index: 945 entries, 12 to 2850
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Image_name  945 non-null    object
 1   Rule1       945 non-null    int64
 2   Rule2       945 non-null    int64
 3   Rule3       945 non-null    int64
 4   Rule4       945 non-null    int64
 5   Rule5       945 non-null    int64
 6   Rule6       945 non-null    int64
 7   Rule7       945 non-null    int64
 8   Rule8       945 non-null    int64
dtypes: int64(8), object(1)
memory usage: 73.8+ KB
None
                                           Image_name  Rule1  Rule2  Rule3  \
12  15835314128302c134a0982308e6d305327932bd39a653...      1      1      1
15  1597464331e039da1bed08288365d0db4767e8fcc2b1da...      1      1      1
26  16085763550354947521d525da8d7bfffb6f0fb7bbafaa...      1      1      1
45  1600616918d8658e141c69ed02726886a3c597c0f90a47...      1      1      1
72  1611947476b443334cbc91ef008a047d1337800a5a659b...      1      1      1

    Rule4  Rule5  Rule6  Rule7  Rule8
12      1      1      1      1      1
15      1      1      1      1      1
26      1      1      1      1      1
45      1      1      1      1      1
72      1      1      1      1      1

In [4]:
balanced_labels = pd.concat([test.sample(int(len(all_lab)*0.25), random_state=42), all_lab])
balanced_labels.describe()

,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000
mean,0.243861,0.306520,0.257409,0.156647,0.265030,0.423370,0.167655,0.205758
std,0.429592,0.461244,0.437392,0.363622,0.441536,0.494302,0.373717,0.404426
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
balanced_labels.to_csv('../all_models_combine/chosen_labels_all.csv', sep=';', index=False)