In [8]:
import pandas as pd

labels = pd.read_csv("../labels.csv", sep=";")

In [9]:
test = pd.DataFrame(labels[[all([int(rule) == 0 for rule in label[1:]]) for label in labels.values]])
test.describe()

        Rule1   Rule2   Rule3   Rule4   Rule5   Rule6   Rule7   Rule8
count  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0
mean      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [ ]:
label_1 = pd.DataFrame(labels[labels["Rule1"] == 1])
label_2 = pd.DataFrame(labels[labels["Rule2"] == 1])
label_3 = pd.DataFrame(labels[labels["Rule3"] == 1])
label_4 = pd.DataFrame(labels[labels["Rule4"] == 1])
label_5 = pd.DataFrame(labels[labels["Rule5"] == 1]) 
label_6 = pd.DataFrame(labels[labels["Rule6"] == 1])
label_7 = pd.DataFrame(labels[labels["Rule7"] == 1])
label_8 = pd.DataFrame(labels[labels["Rule8"] == 1])

all_lab = pd.concat([label_1, label_3, label_4, label_5, label_6, label_7, label_8])
all_lab.drop_duplicates()

print(all_lab.sum(numeric_only=True))
print(all_lab.describe())
print(all_lab.info())
print(all_lab.head())

In [ ]:
balanced_labels = pd.concat([test.sample(int(len(all_lab)*0.25), random_state=42), all_lab])
balanced_labels.describe()

In [15]:
chosen_labels = balanced_labels.drop(columns=['Rule2'])
chosen_labels.describe()

,Rule1,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,951.000000,951.000000,951.000000,951.000000,951.000000,951.000000,951.000000
mean,0.272345,0.257624,0.194532,0.294427,0.444795,0.202944,0.254469
std,0.445401,0.437556,0.396048,0.456025,0.497205,0.402403,0.435791
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
chosen_labels.to_csv('../all_models_combine/chosen_labels.csv', sep=';', index=False)