In [1]:
import pandas as pd

labels = pd.read_csv("../labels.csv", sep=";")

In [2]:
test = pd.DataFrame(labels[[all([int(rule) == 0 for rule in label[1:]]) for label in labels.values]])
test.describe()

        Rule1   Rule2   Rule3   Rule4   Rule5   Rule6   Rule7   Rule8
count  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0
mean      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [7]:
label_1 = pd.DataFrame(labels[labels["Rule1"] == 1])
label_2 = pd.DataFrame(labels[labels["Rule2"] == 1])
label_5 = pd.DataFrame(labels[labels["Rule5"] == 1]) 
label_6 = pd.DataFrame(labels[labels["Rule6"] == 1].sample(250, replace = False, random_state=42))
label_7 = pd.DataFrame(labels[labels["Rule7"] == 1])

all_lab = pd.concat([label_1, label_5, label_6, label_7])
all_lab.drop_duplicates()

print(all_lab.sum(numeric_only=True))
print(all_lab.describe())
print(all_lab.info())
print(all_lab.head())

Rule1    207
Rule2    199
Rule3    105
Rule4     89
Rule5    223
Rule6    335
Rule7    110
Rule8     92
dtype: int64
            Rule1       Rule2       Rule3       Rule4       Rule5       Rule6  \
count  588.000000  588.000000  588.000000  588.000000  588.000000  588.000000
mean     0.352041    0.338435    0.178571    0.151361    0.379252    0.569728
std      0.478013    0.473580    0.383319    0.358705    0.485614    0.495536
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
75%      1.000000    1.000000    0.000000    0.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

            Rule7       Rule8
count  588.000000  588.000000
mean     0.187075    0.156463
std      0.390304    0.363603
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    0.000000
max      1.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Index: 588 entries, 12 to 3339
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Image_name  588 non-null    object
 1   Rule1       588 non-null    int64
 2   Rule2       588 non-null    int64
 3   Rule3       588 non-null    int64
 4   Rule4       588 non-null    int64
 5   Rule5       588 non-null    int64
 6   Rule6       588 non-null    int64
 7   Rule7       588 non-null    int64
 8   Rule8       588 non-null    int64
dtypes: int64(8), object(1)
memory usage: 45.9+ KB
None
                                           Image_name  Rule1  Rule2  Rule3  \
12  15835314128302c134a0982308e6d305327932bd39a653...      1      1      1
15  1597464331e039da1bed08288365d0db4767e8fcc2b1da...      1      1      1
26  16085763550354947521d525da8d7bfffb6f0fb7bbafaa...      1      1      1
45  1600616918d8658e141c69ed02726886a3c597c0f90a47...      1      1      1
72  1611947476b443334cbc91ef008a047d1337800a5a659b...      1      1      1

    Rule4  Rule5  Rule6  Rule7  Rule8
12      1      1      1      1      1
15      1      1      1      1      1
26      1      1      1      1      1
45      1      1      1      1      1
72      1      1      1      1      1

In [8]:
balanced_labels = pd.concat([test.sample(int(len(all_lab)*0.5), random_state=42), all_lab])
balanced_labels.describe()

,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000,882.000000
mean,0.234694,0.225624,0.119048,0.100907,0.252834,0.379819,0.124717,0.104308
std,0.424048,0.418229,0.324028,0.301376,0.434883,0.485617,0.330585,0.305834
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
#drop col 3,4 and 8
balanced_labels = balanced_labels.drop(columns=["Rule3", "Rule4", "Rule8"])

In [12]:
balanced_labels.describe()

            Rule1       Rule2       Rule5       Rule6       Rule7
count  882.000000  882.000000  882.000000  882.000000  882.000000
mean     0.234694    0.225624    0.252834    0.379819    0.124717
std      0.424048    0.418229    0.434883    0.485617    0.330585
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    1.000000    1.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000

In [13]:
balanced_labels.to_csv('../all_models_combine/chosen_labels_not_all_rules_2.csv', sep=';', index=False)