In [1]:
import pandas as pd

labels = pd.read_csv("../labels.csv", sep=";")

In [2]:
test = pd.DataFrame(labels[[all([int(rule) == 0 for rule in label[1:]]) for label in labels.values]])
test.describe()

        Rule1   Rule2   Rule3   Rule4   Rule5   Rule6   Rule7   Rule8
count  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0  1905.0
mean      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [3]:
label_1 = pd.DataFrame(labels[labels["Rule1"] == 1])
label_2 = pd.DataFrame(labels[labels["Rule2"] == 1])
label_5 = pd.DataFrame(labels[labels["Rule5"] == 1]) 
label_6 = pd.DataFrame(labels[labels["Rule6"] == 1])
label_7 = pd.DataFrame(labels[labels["Rule7"] == 1])

all_lab = pd.concat([label_1, label_5, label_6, label_7])
all_lab.drop_duplicates()

print(all_lab.sum(numeric_only=True))
print(all_lab.describe())
print(all_lab.info())
print(all_lab.head())

Rule1    215
Rule2    224
Rule3    114
Rule4     97
Rule5    236
Rule6    419
Rule7    118
Rule8    100
dtype: int64
            Rule1       Rule2       Rule3       Rule4       Rule5       Rule6  \
count  672.000000  672.000000  672.000000  672.000000  672.000000  672.000000
mean     0.319940    0.333333    0.169643    0.144345    0.351190    0.623512
std      0.466801    0.471756    0.375598    0.351701    0.477698    0.484866
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
75%      1.000000    1.000000    0.000000    0.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

            Rule7       Rule8
count  672.000000  672.000000
mean     0.175595    0.148810
std      0.380759    0.356166
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    0.000000
max      1.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, 12 to 3339
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Image_name  672 non-null    object
 1   Rule1       672 non-null    int64
 2   Rule2       672 non-null    int64
 3   Rule3       672 non-null    int64
 4   Rule4       672 non-null    int64
 5   Rule5       672 non-null    int64
 6   Rule6       672 non-null    int64
 7   Rule7       672 non-null    int64
 8   Rule8       672 non-null    int64
dtypes: int64(8), object(1)
memory usage: 52.5+ KB
None
                                           Image_name  Rule1  Rule2  Rule3  \
12  15835314128302c134a0982308e6d305327932bd39a653...      1      1      1
15  1597464331e039da1bed08288365d0db4767e8fcc2b1da...      1      1      1
26  16085763550354947521d525da8d7bfffb6f0fb7bbafaa...      1      1      1
45  1600616918d8658e141c69ed02726886a3c597c0f90a47...      1      1      1
72  1611947476b443334cbc91ef008a047d1337800a5a659b...      1      1      1

    Rule4  Rule5  Rule6  Rule7  Rule8
12      1      1      1      1      1
15      1      1      1      1      1
26      1      1      1      1      1
45      1      1      1      1      1
72      1      1      1      1      1

In [4]:
balanced_labels = pd.concat([test.sample(int(len(all_lab)*0.25), random_state=42), all_lab])
balanced_labels.describe()

,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,840.000000,840.000000,840.000000,840.000000,840.000000,840.000000,840.000000,840.000000
mean,0.255952,0.266667,0.135714,0.115476,0.280952,0.498810,0.140476,0.119048
std,0.436655,0.442480,0.342689,0.319786,0.449732,0.500296,0.347687,0.324037
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
#drop col 3,4 and 8
balanced_labels = balanced_labels.drop(columns=["Rule3", "Rule4", "Rule8"])

In [6]:
balanced_labels.describe()

            Rule1       Rule2       Rule5       Rule6       Rule7
count  840.000000  840.000000  840.000000  840.000000  840.000000
mean     0.255952    0.266667    0.280952    0.498810    0.140476
std      0.436655    0.442480    0.449732    0.500296    0.347687
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000
75%      1.000000    1.000000    1.000000    1.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000

In [7]:
balanced_labels.to_csv('../all_models_combine/chosen_labels_not_all_rules.csv', sep=';', index=False)