In [1]:
#load data
import pandas as pd

labels = pd.read_csv('../../labels.csv', header=0, sep=';')
#print(labels.head())
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Image_name  2667 non-null   object
 1   Rule1       2667 non-null   int64
 2   Rule2       2667 non-null   int64
 3   Rule3       2667 non-null   int64
 4   Rule4       2667 non-null   int64
 5   Rule5       2667 non-null   int64
 6   Rule6       2667 non-null   int64
 7   Rule7       2667 non-null   int64
 8   Rule8       2667 non-null   int64
dtypes: int64(8), object(1)
memory usage: 187.7+ KB

In [2]:
test = pd.DataFrame(labels[[all([int(rule) == 0 for rule in label[1:]]) for label in labels.values]])
test.describe()

        Rule1   Rule2   Rule3   Rule4   Rule5   Rule6   Rule7   Rule8
count  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0
mean      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [3]:
label_1 = pd.DataFrame(labels[labels["Rule1"] == 1])
label_2 = pd.DataFrame(labels[labels["Rule2"] == 1])
label_3 = pd.DataFrame(labels[labels["Rule3"] == 1])
label_4 = pd.DataFrame(labels[labels["Rule4"] == 1])
label_5 = pd.DataFrame(labels[labels["Rule5"] == 1]) 
label_6 = pd.DataFrame(labels[labels["Rule6"] == 1])
label_7 = pd.DataFrame(labels[labels["Rule7"] == 1])
label_8 = pd.DataFrame(labels[labels["Rule8"] == 1])

all_lab = pd.concat([label_1, label_3, label_4, label_5, label_6, label_7, label_8])
all_lab.drop_duplicates()

print(all_lab.sum(numeric_only=True))
print(all_lab.describe())
print(all_lab.info())
print(all_lab.head())

Rule1    259
Rule2    317
Rule3    245
Rule4    185
Rule5    280
Rule6    423
Rule7    193
Rule8    242
dtype: int64
            Rule1       Rule2       Rule3       Rule4       Rule5       Rule6  \
count  761.000000  761.000000  761.000000  761.000000  761.000000  761.000000
mean     0.340342    0.416557    0.321945    0.243101    0.367937    0.555848
std      0.474136    0.493312    0.467529    0.429238    0.482561    0.497198
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    1.000000
75%      1.000000    1.000000    1.000000    0.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

            Rule7       Rule8
count  761.000000  761.000000
mean     0.253614    0.318003
std      0.435365    0.466007
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    1.000000
max      1.000000    1.000000
<class 'pandas.core.frame.DataFrame'>
Index: 761 entries, 12 to 2504
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Image_name  761 non-null    object
 1   Rule1       761 non-null    int64
 2   Rule2       761 non-null    int64
 3   Rule3       761 non-null    int64
 4   Rule4       761 non-null    int64
 5   Rule5       761 non-null    int64
 6   Rule6       761 non-null    int64
 7   Rule7       761 non-null    int64
 8   Rule8       761 non-null    int64
dtypes: int64(8), object(1)
memory usage: 59.5+ KB
None
                                           Image_name  Rule1  Rule2  Rule3  \
12  15835314128302c134a0982308e6d305327932bd39a653...      1      1      1
15  1597464331e039da1bed08288365d0db4767e8fcc2b1da...      1      1      1
26  16085763550354947521d525da8d7bfffb6f0fb7bbafaa...      1      1      1
45  1600616918d8658e141c69ed02726886a3c597c0f90a47...      1      1      1
72  1611947476b443334cbc91ef008a047d1337800a5a659b...      1      1      1

    Rule4  Rule5  Rule6  Rule7  Rule8
12      1      1      1      1      1
15      1      1      1      1      1
26      1      1      1      1      1
45      1      1      1      1      1
72      1      1      1      1      1

In [4]:
label_0 = pd.DataFrame(labels[[all([int(rule) == 0 for rule in label[1:]]) for label in labels.values]])
print(label_0.describe())

        Rule1   Rule2   Rule3   Rule4   Rule5   Rule6   Rule7   Rule8
count  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0  1499.0
mean      0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [5]:
balanced_labels = pd.concat([label_0.sample(int(len(all_lab)*0.25), random_state=42), all_lab])
balanced_labels.describe()

,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,951.000000,951.000000,951.000000,951.000000,951.000000,951.000000,951.000000,951.000000
mean,0.272345,0.333333,0.257624,0.194532,0.294427,0.444795,0.202944,0.254469
std,0.445401,0.471653,0.437556,0.396048,0.456025,0.497205,0.402403,0.435791
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
balanced_labels.sample(15)

,Image_name,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
2344,159877860819edaa9896a17d5f2c57e8a8388aeed2a0fe...,0,0,0,0,0,1,0,0
760,1605283572ef0c322c83ea4eb7208265b6925543c01bee...,0,0,0,0,0,0,1,1
158,1592411152b0fdb6fbca67dfb552c6176b0e9544e299f9...,0,0,0,0,0,0,0,0
1079,16148911678d20048403d638f76ddb7a5d51e7e83ed560...,0,0,0,0,0,0,0,0
45,1600616918d8658e141c69ed02726886a3c597c0f90a47...,1,1,1,1,1,1,1,1
1876,16137526274174f74e1290b35da66f713f24f104faf89e...,0,0,0,0,0,0,0,0
759,1583965415994f1d54d515862cdcfc410546dcddf5aa6c...,0,1,0,0,0,0,0,1
910,16123990645dd5e7224d6231d412a607200d60e7f44a6f...,1,1,1,1,1,1,1,1
925,161366344886c9e4b9cc1951f1877da538973008daba7c...,0,0,0,0,0,0,0,0
857,1585922745d844fa4dcbe6f33765e6dbd3a557204070ea...,1,1,1,1,1,1,1,1
771,16077694866927f8a9578a61c91729db2c2fa45f1843cd...,0,0,0,0,0,1,0,0
2189,1602240751eb9fab1ee7ea4cb1ca5eb738ef5f30fe11f9...,0,0,0,0,0,0,0,0
531,1596561274204bfdcab57ddbe96061f4fe85c2001b62ba...,0,0,0,0,0,0,0,0
661,16142632521dfc8916b125f11003c858ffde42204e255a...,0,1,0,0,0,1,0,0
2398,1609140525c387484659bf3221c766e44cc71080d2dfcf...,0,0,0,0,1,0,0,0

In [8]:
#remove rule 3, 4, 7
chosen_labels = balanced_labels.drop(columns=['Rule3', 'Rule4', 'Rule7'])
chosen_labels.describe()

            Rule1       Rule2       Rule5       Rule6       Rule8
count  951.000000  951.000000  951.000000  951.000000  951.000000
mean     0.272345    0.333333    0.294427    0.444795    0.254469
std      0.445401    0.471653    0.456025    0.497205    0.435791
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000
75%      1.000000    1.000000    1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000

In [9]:
chosen_labels.to_csv('../../local_data/all_b_chosen_labels.csv', sep=';', index=False)

In [42]:
balanced_labels.to_csv('../../local_data/all_b_balanced_labels.csv', sep=';', index=False)